@import 'tailwindcss';

@theme {
  --font-display: DM Serif Display, serif;
  --font-sans: Manrope, system-ui, sans-serif;
  --font-serif: Lora, serif;

  --color-primary: #4a95e0;
  --color-secondary: #43d0b8;
}

html {
    scroll-behavior: smooth;
}

#root {
    @apply min-h-screen flex flex-col;
}